name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: X11 deps  
      run: sudo apt install libx11-dev libxrandr-dev libxcursor-dev libxi-dev

    - name: OpenGL package (need to change)
      run : sudo apt install libglu1-mesa-dev freeglut3-dev mesa-common-dev

    - name: run SFML script install
      run: sudo apt install libudev-dev && sh -c rsc/install/init_sfml.sh
    #   run: sudo apt install libudev-dev meson && sh -c rsc/install/get_sfml.sh

    - name: Run make
      run: make

    - name: clean
      run: make fclean
