name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # libxinerama for raylib
    # - name: X11 deps and libglu
    #   run: sudo apt install libxrandr-dev libxcursor-dev libxi-dev libxinerama-dev libglu1-mesa-dev freeglut3-dev 
      
    - name: OpenGL package (mesa), libudev-dev from systemd
      run : sudo apt install mesa-common-dev libudev-dev

    - name: Run make
      run: make

    - name: clean
      run: make fclean

