name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # - name: X11 deps  
    #   run: sudo apt install libxrandr-dev libxcursor-dev libxi-dev

      # libxinerama for raylib
    - name: OpenGL package (need to change)
      run : sudo apt install libglu1-mesa-dev freeglut3-dev mesa-common-dev libudev-dev libxinerama-dev

    - name: Run make
      run: make

    - name: clean
      run: make fclean

